*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFFFFF;
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding: 20px;
}

#text{
    font: 125% 'Poppins', sans-serif;
}

#btn {
    font: 100% 'Poppins', sans-serif;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2vh;
}